<div class="content">
	<!--<div id="divid">
		<button id="create" (click)="onApplyAction('create','')" md-raised-button color="primary" mdTooltip="Create new cache">
			<md-icon class="material-icons">add</md-icon>
		</button>
	</div>-->

	<md-table #table [dataSource]="dataSource" mdSort *ngIf="showList">	

        <ng-container cdkColumnDef="actions">
			<md-header-cell *cdkHeaderCellDef> </md-header-cell>
			<md-cell *cdkCellDef="let row">
				<button md-icon-button [mdMenuTriggerFor]="menu">
					<md-icon>more_vert</md-icon>
				</button>

				<md-menu #menu="mdMenu">
                    <button md-menu-item (click)="onApplyAction('reset',row)">
						<md-icon>create</md-icon>
						<span>Reset statistics</span>
					</button>
					<button md-menu-item (click)="onApplyAction('refresh',row)">
						<md-icon>create</md-icon>
						<span>Refresh</span>
					</button>
					
				</md-menu>
			</md-cell>
		</ng-container>

		<!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        <ng-container cdkColumnDef="User">
			<md-header-cell *cdkHeaderCellDef md-sort-header> User </md-header-cell>
			<md-cell *cdkCellDef="let row">
				{{row.User}}
			</md-cell>
		</ng-container>
        <ng-container cdkColumnDef="Role">
			<md-header-cell *cdkHeaderCellDef md-sort-header> Role </md-header-cell>
			<md-cell *cdkCellDef="let row">
				{{row.Role}}
			</md-cell>
		</ng-container>
		<ng-container cdkColumnDef="Station">
			<md-header-cell *cdkHeaderCellDef md-sort-header> Station </md-header-cell>
			<md-cell *cdkCellDef="let row">
				{{row.Station}}
			</md-cell>
		</ng-container>
		
		<ng-container cdkColumnDef="Objects">
			<md-header-cell *cdkHeaderCellDef md-sort-header> Objects </md-header-cell>
			<md-cell *cdkCellDef="let row"> {{row.Objects}} </md-cell>
		</ng-container>

		<ng-container cdkColumnDef="LastActive">
			<md-header-cell *cdkHeaderCellDef md-sort-header> Last Active </md-header-cell>
			<md-cell *cdkCellDef="let row"> {{row.LastActive}} </md-cell>
		</ng-container>
        <ng-container cdkColumnDef="ActiveSince">
			<md-header-cell *cdkHeaderCellDef md-sort-header>Active since </md-header-cell>
			<md-cell *cdkCellDef="let row"> {{row.ActiveSince}} </md-cell>
		</ng-container>
        <ng-container cdkColumnDef="Client">
			<md-header-cell *cdkHeaderCellDef md-sort-header> Client </md-header-cell>
			<md-cell *cdkCellDef="let row"> {{row.Client}} </md-cell>
		</ng-container>
		<md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
		<md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>

	</md-table>
</div>