<div class="container">
    <md-card>
		<md-card-title align="center">{{action}} Caches</md-card-title>
		<md-card-content>
			<form #myForm="ngForm">
				<md-tab-group>
  <md-tab label="General">
    <md-input-container class="inputElements">
					<input mdInput type="text" placeholder="Name" name="name" [(ngModel)]="cachesItem.name" required/>
				</md-input-container>
      				<fieldset class="fieldset">
					<legend>Directories</legend>
					<md-input-container class="inputElements">
					<input mdInput type="text" placeholder="Data" name="data" [(ngModel)]="cachesItem.data" required/>
				</md-input-container>
                          <md-input-container class="inputElements">
					<input mdInput type="text" placeholder="Table" name="table" [(ngModel)]="cachesItem.table" required/>
				</md-input-container>
					
				</fieldset>
      <br /><br />
      <md-select placeholder="Mode" required [(ngModel)]="cachesItem.Mode" name="Mode">
					<md-option *ngFor="let item of modes" [value]="item.value">
						{{ item.value }}
					</md-option>
				</md-select>

      <br /><br />
      <fieldset class="fieldset">
					<legend>Size</legend>
					<md-input-container class="inputElements">
					<input mdInput type="number" placeholder="Max Size" name="maxSize" [(ngModel)]="cachesItem.maxSize" required step="100" min="24"/>
                        <md-hint align="end"><strong>MB</strong></md-hint>
				</md-input-container>
                          <md-input-container class="inputElements">
					<input mdInput type="number" placeholder="Min Free" name="minFree" [(ngModel)]="cachesItem.minFree" required step="100" min="5"/>
                              <md-hint align="end"><strong>MB</strong></md-hint>
				</md-input-container>
					
				</fieldset>
  </md-tab>
  <md-tab label="Media">

     

  <div style="min-height:350px;margin-left:30px">
       <br />
   
            <md-checkbox name="allchecked" [(ngModel)]="cachesItem.all">All</md-checkbox>

 <br />
<div *ngFor="let item of allMedia" style="margin-left:25px">
    
    <md-checkbox [checked]="cachesItem.all" > {{item.name}}</md-checkbox><br />
     
    </div>




    
   </div>
  </md-tab>
</md-tab-group>
				<div md-card-actions class="buttonContainer">
					<button md-raised-button color="primary" (click)="ApplyAction(cachesItem)" [disabled]="!myForm.form.valid" class="inputElements">
						{{action}} </button>
					<button md-raised-button color="primary" class="inputElements" md-dialog-close>
						Cancel </button>
				</div>
			</form>
		</md-card-content>
	</md-card>
</div>
