<div class="content">
	<div id="divid">
		<button id="create" (click)="onApplyAction('create','')" md-raised-button color="primary" mdTooltip="Create new cache">
			<md-icon class="material-icons">add</md-icon>
		</button>
	</div>

	<md-table #table [dataSource]="dataSource" mdSort *ngIf="showList">
		<ng-container cdkColumnDef="actions">
			<md-header-cell *cdkHeaderCellDef> </md-header-cell>
			<md-cell *cdkCellDef="let row">
				<button md-icon-button [mdMenuTriggerFor]="menu">
					<md-icon>more_vert</md-icon>
				</button>

				<md-menu #menu="mdMenu">
					<button md-menu-item (click)="onApplyAction('update',row)">
						<md-icon>create</md-icon>
						<span>Edit</span>
					</button>
					<button md-menu-item (click)="onApplyAction('delete',row)">
						<md-icon>delete</md-icon>
						<span>Delete</span>
					</button>
				</md-menu>
			</md-cell>
		</ng-container>



		<!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

		<ng-container cdkColumnDef="name">
			<md-header-cell *cdkHeaderCellDef md-sort-header> Name </md-header-cell>
			<md-cell *cdkCellDef="let row">
				{{row.name}}
			</md-cell>
		</ng-container>
		<ng-container cdkColumnDef="data">
			<md-header-cell *cdkHeaderCellDef md-sort-header> Data </md-header-cell>
			<md-cell *cdkCellDef="let row"> {{row.data}} </md-cell>
		</ng-container>
		<ng-container cdkColumnDef="used">
			<md-header-cell *cdkHeaderCellDef md-sort-header> Used </md-header-cell>
			<md-cell *cdkCellDef="let row"> {{row.used}} </md-cell>
		</ng-container>

		<ng-container cdkColumnDef="objects">
			<md-header-cell *cdkHeaderCellDef md-sort-header> Objects </md-header-cell>
			<md-cell *cdkCellDef="let row"> {{row.objects}} </md-cell>
		</ng-container>
        <ng-container cdkColumnDef="write">
			<md-header-cell *cdkHeaderCellDef md-sort-header> Write </md-header-cell>
			<md-cell *cdkCellDef="let row"> {{row.write}} </md-cell>
		</ng-container>

        <ng-container cdkColumnDef="read">
			<md-header-cell *cdkHeaderCellDef md-sort-header> Read </md-header-cell>
			<md-cell *cdkCellDef="let row"> {{row.read}} </md-cell>
		</ng-container>
        <ng-container cdkColumnDef="verify">
			<md-header-cell *cdkHeaderCellDef md-sort-header> Verify </md-header-cell>
			<md-cell *cdkCellDef="let row"> {{row.verify}} </md-cell>
		</ng-container>
        <ng-container cdkColumnDef="error">
			<md-header-cell *cdkHeaderCellDef md-sort-header> Error </md-header-cell>
			<md-cell *cdkCellDef="let row"> {{row.error}} </md-cell>
		</ng-container>
        <ng-container cdkColumnDef="errorDelete">
			<md-header-cell *cdkHeaderCellDef md-sort-header> Error (Delete)</md-header-cell>
			<md-cell *cdkCellDef="let row"> {{row.errorDelete}} </md-cell>
		</ng-container>
         <ng-container cdkColumnDef="writeRemote">
			<md-header-cell *cdkHeaderCellDef md-sort-header> Write (Remote)</md-header-cell>
			<md-cell *cdkCellDef="let row"> {{row.writeRemote}} </md-cell>
		</ng-container>
		<md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
		<md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>

	</md-table>
</div>