<div class="container">
    <md-sidenav-container class="docs-component-viewer-sidenav-container">       
    <md-sidenav #sidenav class="docs-component-viewer-sidenav" 
              [opened]="!isScreenSmall()"
              [mode]="isScreenSmall() ? 'over' : 'side'">
    <nav *ngFor="let node of nodes" style="margin: 15px 0 0 35px;
    font-size: x-large;">
     <tree-root id="tree"  #tree [nodes]="nodes" (event)="onEvent($event)"></tree-root>
    </nav>
   
  </md-sidenav>
<router-outlet></router-outlet>
</md-sidenav-container>
</div>