

<md-sidenav-container class="docs-component-viewer-sidenav-container">

  <md-sidenav #sidenav class="docs-component-viewer-sidenav"
              [opened]="!isScreenSmall()"
              [mode]="isScreenSmall() ? 'over' : 'side'">
    <nav *ngFor="let node of nodes" style="margin-left:20px;">
     <tree-root [nodes]="nodes" (event)="onEvent($event)"></tree-root>
    </nav>
  </md-sidenav>

    <div class="docs-component-sidenav-content">
    <page-about (toggleSidenav)="sidenav.toggle()"></page-about>
    <router-outlet></router-outlet>
    
  </div>
</md-sidenav-container>