<div class="container">
    <md-card>
     

        <md-card-content>
  
            <md-input-container  class="inputElements">
                <input mdInput type="text" placeholder="IP" [(ngModel)]="tenant" />
            </md-input-container>
           

            <div md-card-actions class="buttonContainer">
                <button md-raised-button color="primary" (click)="ecmLoginButtonPressed()" class="inputElements">
                   Connect
                </button>

             
            </div>



        </md-card-content>

    </md-card>
</div>