<div class="container">
    <md-card>
        <md-card-header align="center">
           <!-- <img src="assets/img/icon.png" class="companyImage" />-->
        </md-card-header>
        <md-card-content>
            <md-input-container  class="inputElements">
                <input mdInput type="text" placeholder="Username" [(ngModel)]="userName" />
            </md-input-container>
            <md-input-container  class="inputElements">
                <input mdInput type="password" placeholder="Password" [(ngModel)]="password" />
            </md-input-container>
            <md-input-container class="inputElements">
                <input mdInput type="text" placeholder="Tenant" [(ngModel)]="tenant" />
            </md-input-container>
         <!--   <section class="reminderSection">
                <md-checkbox [(ngModel)]="remindMe" [align]="end">Remind me</md-checkbox>
            </section>-->
            <div md-card-actions class="buttonContainer">
                <button md-raised-button color="primary" (click)="ecmLoginButtonPressed()" class="inputElements">
                   Validate
                </button>
            </div>
        </md-card-content>
    </md-card>
</div>
