page-globalpool{

}

dialog-globalpool{
.fieldset {
width:90%;margin:1%
}
.fieldset > mat-select-trigger {
		font-size: 14px !important;
		min-width: 150px !important;
	}
.fieldset .mat-option {
		font-size: 14px !important;
	}

}