<div class="content">
	<div id="divid">
		<button id="create" (click)="onApplyAction('create','')" md-raised-button color="primary" mdTooltip="Create new Write buffer">
			<md-icon class="material-icons">add</md-icon>
		</button>
	</div>

	<md-table #table [dataSource]="dataSource" mdSort *ngIf="showList">
		<ng-container cdkColumnDef="actions">
			<md-header-cell *cdkHeaderCellDef> </md-header-cell>
			<md-cell *cdkCellDef="let row">
				<button md-icon-button [mdMenuTriggerFor]="menu">
					<md-icon>more_vert</md-icon>
				</button>

				<md-menu #menu="mdMenu">
					<button md-menu-item (click)="onApplyAction('update',row)">
						<md-icon>create</md-icon>
						<span>Edit</span>
					</button>
					<button md-menu-item (click)="onApplyAction('delete',row)">
						<md-icon>delete</md-icon>
						<span>Delete</span>
					</button>
				</md-menu>
			</md-cell>
		</ng-container>



		<!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

		<ng-container cdkColumnDef="name">
			<md-header-cell *cdkHeaderCellDef md-sort-header> Name </md-header-cell>
			<md-cell *cdkCellDef="let row">
				{{row.name}}
			</md-cell>
		</ng-container>
		<ng-container cdkColumnDef="data">
			<md-header-cell *cdkHeaderCellDef md-sort-header> Data </md-header-cell>
			<md-cell *cdkCellDef="let row"> {{row.data}} </md-cell>
		</ng-container>
		<ng-container cdkColumnDef="used">
			<md-header-cell *cdkHeaderCellDef md-sort-header> Used </md-header-cell>
			<md-cell *cdkCellDef="let row"> {{row.used}} </md-cell>
		</ng-container>

		<ng-container cdkColumnDef="objects">
			<md-header-cell *cdkHeaderCellDef md-sort-header> Objects </md-header-cell>
			<md-cell *cdkCellDef="let row"> {{row.objects}} </md-cell>
		</ng-container>

        <ng-container cdkColumnDef="write">
			<md-header-cell *cdkHeaderCellDef md-sort-header> Write </md-header-cell>
			<md-cell *cdkCellDef="let row"> {{row.write}} </md-cell>
		</ng-container>
        <ng-container cdkColumnDef="read">
			<md-header-cell *cdkHeaderCellDef md-sort-header> Read </md-header-cell>
			<md-cell *cdkCellDef="let row"> {{row.read}} </md-cell>
		</ng-container>
        <ng-container cdkColumnDef="verify">
			<md-header-cell *cdkHeaderCellDef md-sort-header> Verify </md-header-cell>
			<md-cell *cdkCellDef="let row"> {{row.verify}} </md-cell>
		</ng-container>
        <ng-container cdkColumnDef="error">
			<md-header-cell *cdkHeaderCellDef md-sort-header> Error </md-header-cell>
			<md-cell *cdkCellDef="let row"> {{row.error}} </md-cell>
		</ng-container>
         <ng-container cdkColumnDef="errorDelete">
			<md-header-cell *cdkHeaderCellDef md-sort-header> Error (Delete) </md-header-cell>
			<md-cell *cdkCellDef="let row"> {{row.errorDelete}} </md-cell>
		</ng-container>
         <ng-container cdkColumnDef="writeRemote">
			<md-header-cell *cdkHeaderCellDef md-sort-header> Write (Remote) </md-header-cell>
			<md-cell *cdkCellDef="let row"> {{row.writeRemote}} </md-cell>
		</ng-container>

         <ng-container cdkColumnDef="delete">
			<md-header-cell *cdkHeaderCellDef md-sort-header> Delete </md-header-cell>
			<md-cell *cdkCellDef="let row"> {{row.delete}} </md-cell>
		</ng-container>
        <ng-container cdkColumnDef="deleteRemote">
			<md-header-cell *cdkHeaderCellDef md-sort-header> Delete (Remote) </md-header-cell>
			<md-cell *cdkCellDef="let row"> {{row.deleteRemote}} </md-cell>
		</ng-container>
        <ng-container cdkColumnDef="generatedRemote">
			<md-header-cell *cdkHeaderCesllDef md-sort-header> Generated (Remote) </md-header-cell>
			<md-cell *cdkCellDef="let row"> {{row.generatedRemote}} </md-cell>
		</ng-container>
         <ng-container cdkColumnDef="errorDR">
			<md-header-cell *cdkHeaderCellDef md-sort-header> Error (Delete,Remote) </md-header-cell>
			<md-cell *cdkCellDef="let row"> {{row.errorDR}} </md-cell>
		</ng-container>
        <ng-container cdkColumnDef="errorWR">
			<md-header-cell *cdkHeaderCellDef md-sort-header> Error (Write,Remote) </md-header-cell>
			<md-cell *cdkCellDef="let row"> {{row.errorWR}} </md-cell>
		</ng-container>
         <ng-container cdkColumnDef="minFree">
			<md-header-cell *cdkHeaderCellDef md-sort-header> Min.Free </md-header-cell>
			<md-cell *cdkCellDef="let row"> {{row.minFree}} </md-cell>
		</ng-container>
         <ng-container cdkColumnDef="maxSize">
			<md-header-cell *cdkHeaderCellDef md-sort-header> Max.Size </md-header-cell>
			<md-cell *cdkCellDef="let row"> {{row.maxSize}} </md-cell>
		</ng-container>

         <ng-container cdkColumnDef="table">
			<md-header-cell *cdkHeaderCellDef md-sort-header>Table </md-header-cell>
			<md-cell *cdkCellDef="let row"> {{row.table}} </md-cell>
		</ng-container>

         <ng-container cdkColumnDef="DBOperations">
			<md-header-cell *cdkHeaderCellDef md-sort-header> DB Operations </md-header-cell>
			<md-cell *cdkCellDef="let row"> {{row.DBOperations}} </md-cell>
		</ng-container>
        <ng-container cdkColumnDef="DBOpsExecuted">
			<md-header-cell *cdkHeaderCellDef md-sort-header> DB Ops Executed </md-header-cell>
			<md-cell *cdkCellDef="let row"> {{row.DBOpsExecuted}} </md-cell>
		</ng-container>
        <ng-container cdkColumnDef="DBOpsOptimized">
			<md-header-cell *cdkHeaderCellDef md-sort-header> DB Ops Optimized </md-header-cell>
			<md-cell *cdkCellDef="let row"> {{row.DBOpsOptimized}} </md-cell>
		</ng-container>
		<md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
		<md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>

	</md-table>
</div>