<div class="container">
    <md-card>
     
        <md-card-title align="center">Medium Info</md-card-title>
        <md-card-content>
  <form #myForm="ngForm"> 
   Name :       
      <br />
   Type:
   
     
<br />
      Media UID:
      
<br />
      <md-tab-group>
  <md-tab label="General">
    <h1>Some tab content</h1>
    <p>...</p>
  </md-tab>
  <md-tab label="Cache fill">
    <h1>Some more tab content</h1>
    <p>...</p>
  </md-tab>
           <md-tab label="Miscellaneous">
    <h1>Some more tab content</h1>
    <p>...</p>
  </md-tab>
           <md-tab label="Storage system">
    <h1>Some more tab content</h1>
    <p>...</p>
  </md-tab>
</md-tab-group>
     
<br />
            
            <div md-card-actions class="buttonContainer">

                 <button md-raised-button color="primary"  class="inputElements"  md-dialog-close>
Cancel                </button>
    
             
            </div>

      </form>

        </md-card-content>

    </md-card>
</div>
