dialog-media{
.mat-select-trigger {
    font-size: 14px !important;
	min-width:550px !important;
}

.mat-option {
font-size:14px !important;
}
.mat-checkbox-layout{
margin:15px
}
.buttonContainer{
text-align:center;
button{
margin:10px;
}
}
}




