<div class="container">
    <md-card>
     
        <md-card-title align="center">{{action}} Plug-in medium</md-card-title>
        <md-card-content>
  <form #myForm="ngForm"> 
            <md-input-container  class="inputElements">
                <input mdInput type="text" placeholder="Medium Descriptor" name="mediumDesc" [(ngModel)]="mediaItem.mediumDesc" required/>
            </md-input-container><br />
   
   <md-input-container  class="inputElements">
                <input mdInput type="number" placeholder="Storage Capacity" name="storageCapacity" [(ngModel)]="mediaItem.storageCapacity" required/>
            </md-input-container>
     
<br />
       <md-select placeholder="Plug-In"  required  name="pluginValue" [(ngModel)]="mediaItem.pluginValue" >
  <md-option *ngFor="let item of plugins" [value]="item.value">
    {{ item.viewValue }}
  </md-option>
</md-select>
      <br />
            <section> 
      <md-checkbox [(ngModel)]="isContainer" name="isContainer">Container</md-checkbox>
      <md-checkbox  [(ngModel)]="isNamedPool" name="isNamedPool">For named pool (active/active) </md-checkbox>
    </section> <md-input-container  class="inputElements">
                <input mdInput type="number" placeholder="Maximum number of Objects" name="maxNumber" [(ngModel)]="mediaItem.maxNumber" required/>
            </md-input-container>
     
<br />
       <md-input-container  class="inputElements">
                <input mdInput type="number" placeholder="Maximum size" name="maxSize" [(ngModel)]="mediaItem.maxSize" required/>
            <md-hint align="end"><strong>MB</strong></md-hint>           </md-input-container>
     
<br /> <md-input-container  class="inputElements">
                <input mdInput type="number" placeholder="Timeout" name="timeOut" [(ngModel)]="mediaItem.timeOut" required/>
           <md-hint align="end"><strong>Minutes</strong></md-hint>  </md-input-container>
     
<br />
            
            <div md-card-actions class="buttonContainer">
                <button md-raised-button color="primary" (click)="ApplyAction(mediaItem)" [disabled]="!myForm.form.valid" class="inputElements" >
{{action}}             </button>
                 <button md-raised-button color="primary"  class="inputElements"  md-dialog-close>
Cancel                </button>
    
             
            </div>

      </form>

        </md-card-content>

    </md-card>
</div>
