<div class="content">
     <div id="divid">
          <button id="create"  (click)="onApplyAction('create','')" md-raised-button color="primary" mdTooltip="Create new Plug-in medium">
                        <md-icon  class="material-icons" >add</md-icon>
                    </button>
        </div>
    <div style="margin:10px">
         
   


  <md-table #table [dataSource]="dataSource" mdSort >
            <ng-container *ngFor="let col of displayedColumns" cdkColumnDef={{col}}>
		    <md-header-cell md-sort-header *cdkHeaderCellDef > {{ col }}  </md-header-cell>
		    <md-cell  *cdkCellDef="let row"> {{row[(col.charAt(0).toLowerCase() + col.slice(1).replace(" ",""))]}}</md-cell>
	    </ng-container>
    
    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>

        </div>
</div>



